/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    /* margin-bottom: 20px; */
    color: rgb(20, 19, 19);
}

header .navbar-light .navbar-nav .nav-link {
    color: rgb(17, 16, 16);
}

header .navbar-light .navbar-nav .nav-link:hover {
    color: #d8a67a;
}

.hero {
    padding: 20px 0;
    /* background-color: #c38249; */
    background: linear-gradient(to right, #F2D3BA, #836953);
}


.container {
    max-width: 1200px;
    margin: auto;
}

footer {
    background: linear-gradient(to right, #F2D3BA, #836953);
    color: #4b2e2e;
    
}

footer p {
    margin: 0;
}
.img-fluid{
    height: 400px;
    width: 800px;
}



.gallery-grid {
    display: grid;
    padding-bottom: 50px;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
}
.gallery-item {
    width: 400px;
    height: 400px;
    align-items: center;
    
}

img {
    width: 250px;
    height: 200px;
}



@media (max-width: 768px) {
    .hero {
        padding: 40px 20px;
    }
}